.cadastro-info{
    color:white;
}

.cadastro-title{
    font-size: 1.2em;
}

.cadastro-obrigatorio{
    font-size: 0.8em;
}

div.cadastro-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.cadastro{
    margin: auto;
}

.cadastro-button button{
    background-color: yellow;
    color: black;
    border: none;
    padding: 4px 80px;
    border-radius: 50px;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    font-weight: lighter;
    color: black;
    font-family: 'Lobster', cursive;
}