

/*================================================= Form Inicio ========================================= */

.fundo {
    background-color: purple;
}
.contact{
    background-color: purple;
    margin: auto;
    width: 40%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    border: 1px; 
    border-radius: 10px;
    color: white;


}

.contact-title {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px; 

}

.contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form input, textarea{
    width:85%;
    height: 5vh;
    margin-bottom: 1%;
    font-size: 1em;
    outline: none;
    resize: none;
    border-radius: 30px;
    text-align: center;

}

.contact form textarea {
    height: 48%;
}

.contact form label{
    /* movendo os nomes do formulario para a esquerda */
    width: 85%;
    margin-left: 5%;
    margin-top: 1%;
    font-size: 1em;
}

.contact form .contact-button{
    width: 85%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}

.contact form .contact-button input{
    width: 10%;
    height: 25%;
}

.contact form .contact-title label {
    width: 60%;
    margin: 0%;     
}

.contact form .contact-button button{
    width: 50%;
    height: 70%;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 0.7em;
    outline: none;

}




