*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    font-size: 18px;
}

    /* ================================================ Header Início ====================================== */

header{
    background-color:#ffffff;
}

.navbar-brand{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin-right: 0%;
}

.dot-color {
    color: crimson;
    font-size: 30px;
}

header span a:hover{
    color: purple;
    text-decoration: none;
}

.navbar-nav{
    margin-left: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 0.9em;
    font-weight: lighter;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(122, 122, 122, 0.7);
}

header ul li{
    list-style: none;
    display: inline-block;
}


header ul li a{
    margin: 0;
    -webkit-transform: none;
    transform: none;
    padding: 10px 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    transition-duration: 0.25s;
}

header ul li a:hover{
    color: white;
}

header ul li.active a {
    color: white;
}

header ul li:nth-child(1) a {
    background-color: #fa9aed;
}

header ul li:nth-child(2n) a {
    background-color: #f869e5;
}

header ul li:nth-child(3n) a {
    background-color: #c53eb3;
}

header ul li:nth-child(4n) a {
    background-color: #9e308f;
}

header ul li:nth-child(5n) a {
    background-color: #7e1370;
}

header .dot{
    background-color: red;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -20px;
    left: 0;
    border-radius: 50%;
    transition-duration: 0.5s;
}


    /* ================================================ Header Fim ========================================== */

    /* ================================================ Banner Início ======================================= */

section #bg-content {
    background-color: purple;
}

section article h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    padding: 15px 10px 10px 5px;
}

section article .main-text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
}

section article #btn-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section article .btn-marca{
    background-color: mediumorchid;
    border: none;
    padding: 4px 38px;
    border-radius: 50px;
    margin-right: 5%;
}

section article .btn-marca:hover{
    opacity: 0.8;
}

section article .btn-influencer{
    background-color: yellow;
    border: none;
    padding: 4px 30px;
    border-radius: 50px;
}

section article .btn-influencer:hover{
    opacity: 0.8;
}

section article .btn-marca h3{
    font-size: 0.7em;
    font-weight: lighter;
    color: white;
    font-family: helvetica;
    text-align: center;
    padding: 6px 0 0 0;
    font-family: 'Lobster', cursive;
}

section article .btn-influencer h3{
    font-size: 0.7em;
    font-weight: lighter;
    color: black;
    font-family: helvetica;
    text-align: center;
    padding: 6px 0 0 0;
    font-family: 'Lobster', cursive;
}


    /* ================================================ Banner Fim ========================================== */

    /* ================================================ Carrossel Início ======================================= */

.container-fluid h3{
    font-size: 1.1em;
    font-weight: bold;
}

.img-carrossel{
    max-width: 50px;
}


    /* ================================================ Carrossel Fim ======================================= */

    /* ================================================ Serviços Início ======================================= */

.servicos{
    background: purple;
    color: white;
}

.servicos h3{
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 1rem;
}

.servicos p{
    font-size: 1em;
}

.servicos-texto{
    padding: 10px 20px;
}

.servicos-texto h2{
    font-size: 1em;
    font-weight: bold;
}

.servicos-texto p{
    font-size: 0.8em;
}


.imagem-services{
        max-width: 100%;
        max-height: 300px;
}

    /* ================================================ Serviços Fim ========================================== */

    /* ================================================ Galeria Início ======================================= */

.titulo-galeria{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 1rem;
}

.polaroid{
    border: 12px solid #fff;
    border-bottom: 20px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    height: auto;
    max-width: 70%;
}

.polaroid h3{
    font-size: 0.7em;
    font-weight: bold;
    padding-top: 5px;
}

.polaroid div p{
    font-size: 0.7em;
    padding-top: 3px;
}

.insta {
    max-height: 15px;
    cursor: pointer;
}

.influencers-desktop{
    display: none;
}

    /* ================================================ Galeria Fim ========================================= */

    /* ================================================ Review Início ======================================= */

section.reviewContent{
    background-color: purple;
    color: white;
}

.reviewContent h3{
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 1rem;
}

section.reviewContent p{
    line-height: 1.9;
    font-size: 0.9em;
}

section article .reviewBorder{
    border-bottom: 1px solid white;
    
}

article div h4{
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
}

    /* ================================================ Review Fim ======================================= */

    /* ======================================= Gallery Influencers Inicio =================================== */

body .todos-influ{
    padding-top: 4vh;
    background-color: mediumpurple;
    padding-left: 1vw;
    padding-right: 1vw;
}

body section article .influenciador{
    background-image: url("../image/influ.jpg");
    height: 45vh;
    width: 80vw; 
    margin: 2vh auto;
    background-size: cover;
    border-radius: 45px; 
    border: 4px solid yellow;
    overflow: hidden;
    padding: 0 ;
}

body section article .informacoes:hover{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 45px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

article .influenciador .informacoes p{
    visibility: hidden;
}

article .influenciador .informacoes:hover p{
    visibility: visible;
}

article .influenciador .informacoes h2{
    visibility: hidden;
}

article .influenciador .informacoes:hover h2{
    visibility: visible;
}

article .influenciador .informacoes h2{
    font-size: 1.5em;
    margin: 6vh 0;
    background-color: yellow;
    color: black;
    padding: 0 3vw;
    border-radius: 45px;
}

article .influenciador .informacoes p{
    font-size: 0.8em;
    font-weight: bolder;
    margin: 0vh  1vw;
    width: 70vw;
}

article .influenciador .informacoes:hover{
    background-color: rgba(204,40,177 0.8);
}

    /* ======================================== Gallery Infliencers Fim ===================================== */

    /* ================================================ Footer Inicio ======================================= */
footer{
    padding: 10px;
}

footer .textFooter{
    font-size: 0.8em;
}

footer .footer-copyright{
    font-size: 0.8em;
}


    /* ================================================ Footer Fim ========================================== */


    /* Dispositivos small (telefones em modo paisagem, com 359px ou mais) */

    @media (min-width: 359px)  {

        /* Banner */

        section article .main-text{
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 0.8em;
            font-family: 'Montserrat', sans-serif;
            padding: 0 20px;
        }

        .imagem-principal{
            max-width: 300px;
        }

        /* Carrossel */

        .container-fluid h3 {
            font-size: 1.3em;
            font-weight: bold;
        }

        /* Serviços */

        .servicos h3 {
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .servicos-texto p {
            font-size: 0.9em;
        }

        /* Gallery */

        .titulo-galeria {
            text-align: center;
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 1rem;
        }

        /* Review */

        .reviewContent h3 {
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 1rem;
        }

    }

    @media (min-width: 414px) and (max-width: 767.98px) { 

        /* Banner */

        section article h1 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.3em;
            padding: 20px 15px 15px 5px;
        }

        section article .main-text {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 0.8em;
            font-family: 'Montserrat', sans-serif;
            padding: 0 45px;
        }

        .imagem-principal {
            max-width: 350px;
        }

        /* Carrossel */
        .container-fluid h3 {
            font-size: 1.5em;
            font-weight: bold;
        }

        .img-carrossel {
            max-width: 60px;
        }

        /* Serviços */


        .servicos h3 {
            font-size: 1.5em;
            font-weight: bold;
            padding-top: 1rem;
        }

        /* Galeria */

        .titulo-galeria {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .polaroid {
            border: 12px solid #fff;
            border-bottom: 20px solid #fff;
            -webkit-box-shadow: 3px 3px 3px #888;
            -moz-box-shadow: 3px 3px 3px #888;
            box-shadow: 3px 3px 3px #888;
            height: auto;
            max-width: 270px;
        }

        /* Review */

        .reviewContent h3 {
            font-size: 1.5em;
            font-weight: bold;
            padding-top: 1rem;
        }


    }

    @media (min-width: 768px) {

        /* Banner */

        section article h1 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5em;
            padding-top: 0px;
        }

        .imagem-principal {
            max-width: 431px;
        }

        /* Carrossel */

        .container-fluid h3 {
            font-size: 1.4em;
            font-weight: bold;
        }

        .img-carrossel {
            max-width: 80px;
        }

        /* Servicos */

        .servicos h3 {
            font-size: 1.4em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .servicos-texto h2 {
            font-size: 1.1em;
            font-weight: bold;
        }

        .imagem-services {
            max-width: 125%;
            max-height: 301px;
        }

        /* Galeria */

        .titulo-galeria {
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .polaroid {
            border: 12px solid #fff;
            border-bottom: 20px solid #fff;
            -webkit-box-shadow: 3px 3px 3px #888;
            -moz-box-shadow: 3px 3px 3px #888;
            box-shadow: 3px 3px 3px #888;
            height: auto;
            max-width: 100%;
        }

        .servicos {
            background: purple;
            color: white;
            padding: 30px;
        }

        .influencers-desktop{
            display: block;
        }

    }

    @media (min-width: 992px) and (max-width: 1199.98px) {

        /* Banner */

        .imagem-principal {
            max-width: 465px;
        }

        section #bg-content {
            background-color: purple;
            height: 70vh;
        }

        section article h1 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.8em;
        }

        section article .main-text {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1em;
            font-family: 'Montserrat', sans-serif;
            padding: 0 40px;
        }

        /* Carrossel */

        .container-fluid h3 {
            font-size: 1.6em;
            font-weight: bold;
        }

        .img-carrossel {
            max-width: 90px;
        }

        /* Servicos */

        .servicos-texto h2 {
            font-size: 1.3em;
            font-weight: bold;
        }

        .servicos-texto p {
            font-size: 1em;
        }

        /* Galeria */

        .titulo-galeria {
            text-align: center;
            font-size: 1.6em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .polaroid h3 {
            font-size: 1em;
            font-weight: bold;
            padding-top: 5px;
            text-align: center;
        }

        .polaroid div p {
            font-size: 0.9em;
            padding-top: 3px;
        }

        /* Review */

        .reviewContent h3 {
            font-size: 1.6em;
            font-weight: bold;
            padding-top: 1rem;
        }

        section.reviewContent p {
            line-height: 1.9;
            font-size: 1em;
        }

    }

    @media (min-width: 1200px) {

        section #bg-content {
            background-color: purple;
            height: 70vh;
        }

        .imagem-principal {
            max-width: 470px;
        }

        section article h1 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.8em;
            padding: 0 40px 10px 40px;
        }
        section article .main-text {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.1em;
            font-family: 'Montserrat', sans-serif;
            padding: 0px 86px;
        }


        .container-fluid h3 {
            font-size: 1.6em;
            font-weight: bold;
        }

        .img-carrossel {
            max-width: 100px;
        }

        .servicos h3 {
            font-size: 1.6em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .servicos-texto h2 {
            font-size: 1.4em;
            font-weight: bold;
        }

        .servicos-texto p {
            font-size: 1.1em;
        }

        .titulo-galeria {
            text-align: center;
            font-size: 1.6em;
            font-weight: bold;
            padding-top: 1rem;
        }

        .polaroid h3 {
            font-size: 1.2em;
            font-weight: bold;
            padding-top: 5px;
            text-align: center;
        }

        .polaroid div p {
            font-size: 1em;
            padding-top: 3px;
        }

        .insta {
            max-height: 20px;
            cursor: pointer;
        }

    }